<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vielnoel.flutter_mapz">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <application>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBEtPQM1AXSOQdDK5nEJrF3fUrixouY_fE"/>

    </application>


    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
